<html
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:xcp="Xima\XimaTypo3ContentPlanner\ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="xima-typo3-content-planner--header-info" data-color="{status.color}">
    <div class="left d-flex align-items-center justify-content-center">
        <core:icon
            identifier="{status.icon}"
            size="medium"
            alternativeMarkupIdentifier="inline"
        />
    </div>
    <div class="body">
        <f:if condition="{mode} != 'edit'">
            <f:then>
                <be:link.editRecord
                    uid="{data.uid}"
                    table="pages"
                    fields="tx_ximatypo3contentplanner_status,tx_ximatypo3contentplanner_assignee,tx_ximatypo3contentplanner_comments"
                    returnUrl="{f:be.uri(route: mode, parameters: '{\'id\': data.uid}')}"
                    title="{f:translate(key: 'header.editStatus', extensionName: 'xima_typo3_content_planner')}"
                    class="d-flex align-items-center flex-grow-1"
                >
                    {f:translate(key: 'header.status', extensionName: 'xima_typo3_content_planner')}:&nbsp;<strong>{status.title}</strong>
                </be:link.editRecord>
            </f:then>
            <f:else>
                {f:translate(key: 'header.status', extensionName: 'xima_typo3_content_planner')}:&nbsp;<strong>{status.title}</strong>
            </f:else>
        </f:if>
    </div>

    <!-- Action buttons -->
    <div class="btn-group">
        <div class="xima-typo3-content-planner--header--ce-hint">
            <f:for each="{contentElements}" as="contentElement">
                <be:link.editRecord
                    uid="{contentElement.uid}"
                    table="tt_content"
                    returnUrl="{f:be.uri(route: 'web_layout', parameters: '{\'id\': data.uid}')}"
                    title="{f:translate(key: 'header.editContentElement', extensionName: 'xima_typo3_content_planner', arguments: {0: contentElement.title})}"
                    additionalAttributes="{data-color: '{xcp:statusColor(statusId: contentElement.tx_ximatypo3contentplanner_status)}'}"
                >
                    &#9679;
                </be:link.editRecord>
            </f:for>
        </div>
        <div class="btn-group" role="group" aria-label="Assignee">
            <f:if
                condition="{data.tx_ximatypo3contentplanner_assignee}"
            >
                <div
                    class="ml-auto d-flex align-items-center btn btn-default  {f:if(condition: assignee.assignedToCurrentUser, then: 'current', else: '')}"
                    title="{f:translate(key: 'header.assignee', extensionName: 'xima_typo3_content_planner')}"
                >
                    <be:avatar
                        backendUser="{data.tx_ximatypo3contentplanner_assignee}"
                        size="16"
                        showIcon="true"
                    />
                    {assignee.username}
                </div>
            </f:if>
            <f:if condition="{assignee.assignToCurrentUser}">
                <a
                    href="{assignee.assignToCurrentUser}"
                    class="btn btn-default"
                    title="{f:translate(key: 'header.assignToMe', extensionName: 'xima_typo3_content_planner')}"
                ><core:icon identifier="actions-assign-to-me" size="small"/></a>
            </f:if>
            <f:if condition="{assignee.unassign}">
                <a
                    href="{assignee.unassign}"
                    class="btn btn-default"
                    title="{f:translate(key: 'header.unassign', extensionName: 'xima_typo3_content_planner')}"
                ><core:icon identifier="actions-unassign" size="small"/></a>
            </f:if>
        </div>

        <div class="btn-group" role="group" aria-label="Comments">
            <a
                href="{comments.newCommentUri}"
                id="create-and-edit-comment-modal"
                class="btn btn-default"
                data-pid="{pid}"
                data-userid="{userid}"
                title="{f:translate(key: 'header.newComment', extensionName: 'xima_typo3_content_planner')}"
            >
                <core:icon
                    identifier="actions-message-add"
                    size="small"
                />
            </a>
            <f:if condition="{comments.items}">
                <button
                    class="btn btn-default contentPlanner--comments"
                    data-content-planner-comments
                    type="button"
                    title="{f:translate(key: 'header.comments', extensionName: 'xima_typo3_content_planner')}"
                    data-table="{table}"
                    data-id="{data.uid}"
                    data-new-comment-uri="{comments.newCommentUri}"
                    data-edit-uri="{comments.editUri}"
                >
                    <core:icon identifier="actions-message" size="small"/>
                    <span class="badge badge-secondary">{comments.items -> f:count()}</span>
                </button>
            </f:if>
        </div>
        <f:if condition="{mode} == 'web_layout' || {mode} == 'web_list'">
            <be:link.editRecord
                uid="{data.uid}"
                table="{table}"
                fields="tx_ximatypo3contentplanner_status,tx_ximatypo3contentplanner_assignee,tx_ximatypo3contentplanner_comments"
                returnUrl="{f:be.uri(route: 'web_layout', parameters: '{\'id\': data.uid}')}"
                title="{f:translate(key: 'header.editStatus', extensionName: 'xima_typo3_content_planner')}"
                class="btn btn-default"
            >
                <core:icon
                    identifier="actions-flag-edit"
                    alternativeMarkupIdentifier="inline"
                    size="small"
                />
            </be:link.editRecord>
        </f:if>
    </div>
</div>
</html>
