.idea
.env
.test/
.Build/
config
composer.lock
public
!Resources/Public
vendor
var
Documentation-*
.phpdoc
node_modules
.php-cs-fixer.cache
php-cs-fixer.xml
phpstan.xml
Configuration/TCA/Overrides/sys_category.php
Configuration/TCA/Overrides/tt_content.php
xima_typo3_content_planner/
tailor-version-artefact/
