includes:
	- %rootDir%/../../konradmichalik/phpstan-typo3-preset/phpstan.neon.dist
	- phpstan-baseline.neon

parameters:
	level: 6

	paths:
		- Classes
		- Configuration
		- Resources
		- Tests/Unit

	excludePaths:
		- .Build (?)

	type_coverage:
		constant: 0 # TODO: Set to 100, when PHP 8.3 is minimum requirement
