parameters:
	ignoreErrors:
		-
			message: '#^Property Xima\\XimaTypo3ContentPlanner\\EventListener\\ModifyRecordListRecordActionsListener\:\:\$requestId is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: Classes/EventListener/ModifyRecordListRecordActionsListener.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Core\\Routing\\PageArguments\|TYPO3\\CMS\\Core\\Routing\\SiteRouteResult\:\:getRoute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Service/SelectionBuilder/AbstractSelectionService.php

		-
			message: '#^Strict comparison using \!\=\= between array and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: Classes/Service/SelectionBuilder/AbstractSelectionService.php

		-
			message: '#^Strict comparison using \=\=\= between array and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: Classes/Service/SelectionBuilder/AbstractSelectionService.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: Classes/Service/SelectionBuilder/HeaderSelectionService.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: Classes/Service/SelectionBuilder/ListSelectionService.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: Classes/Service/SelectionBuilder/PageTreeSelectionService.php
