<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="SystemEmail"/>
<f:section name="Title">
    Content Planner: Relevant Updates
</f:section>
<f:section name="Subject">
    Content Planner: Relevant Updates
</f:section>
<f:section name="Main">
    <p class="dropdown-item-text">Find recent updates on content, you're currently assigned to and you may have probably
        missed.</p>
    <ul class="dropdown-list">
        <f:if condition="{data}">
            <f:then>
                <f:for each="{data}" as="record">
                    <f:if condition="{record.historyData}">
                        <li>
                            {record.historyData -> f:format.raw()}
                            <f:if condition="{record.data.userid}">
                                by
                                <u>{record.user}</u>
                            </f:if>
                            <span class="text-muted small"
                                  style="display: inline-block;white-space: nowrap;width: auto;font-size:80%;">{record.timeAgo}</span>
                            <br/>
                            <div class="mt-2 small">
                                {f:if(condition: record.pageTitle, then: '{record.pageTitle -> f:format.raw()}',
                                else: '[{f:translate(key:
                                \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.no_title\')}]')}
                            </div>
                        </li>
                    </f:if>
                </f:for>
            </f:then>
        </f:if>
    </ul>
</f:section>
