<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:xcd="http://typo3.org/ns/Xima/XmDmmContentDeployment/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="SystemEmail"/>
<f:section name="Title">
    Content Planner: Relevant Updates
</f:section>
<f:section name="Subject">
    Content Planner: Relevant Updates
</f:section>
<f:section name="Main">
    <p class="dropdown-item-text">Find recent updates on content, you're currently assigned to.</p>
    <ul class="dropdown-list">
        <f:if condition="{data}">
            <f:then>
                <f:for each="{data}" as="record">
                    <li>
                        {record.historyData -> f:format.raw()}
                        <f:if condition="{record.data.userid}">
                            by
                            <u>{record.data.username}</u>
                        </f:if>
                        <span class="text-muted small"
                              style="display: inline-block;white-space: nowrap;width: auto;">{record.timeAgo}</span>
                        <br/>
                        <div class="mt-2 small">
                            <core:iconForRecord table="pages" row="{record.data}"/>
                            <f:if condition="{record.pageStatus}">
                            <span title="{record.pageStatus}">
                                <core:icon identifier="{record.pageStatusIcon}" size="small"/>
                            </span>
                            </f:if>
                            {f:if(condition: record.pageTitle, then: '{record.pageTitle -> f:format.raw()}',
                            else: '[{f:translate(key:
                            \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.no_title\')}]')}
                        </div>
                    </li>
                </f:for>
            </f:then>
            <f:else>
                <div style="min-height: 200px;position:relative;">
                    <f:render partial="Empty"/>
                </div>
            </f:else>
        </f:if>
    </ul>
</f:section>
