<html
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{watch.watchable}">
    <f:variable name="watchTitle"><f:translate key="header.watch.tooltip.{watch.state}" extensionName="xima_typo3_content_planner"/></f:variable>
    <f:variable name="watchHint"><f:translate key="header.watch.hint.{watch.state}" extensionName="xima_typo3_content_planner"/></f:variable>
    <f:if condition="{watch.count} > 0">
        <f:if condition="{watch.watcherNamesLabel}">
            <f:then><f:variable name="watchHint">{watchHint} ({f:translate(key: 'header.watch.watchers', extensionName: 'xima_typo3_content_planner', arguments: '{0: watch.watcherNamesLabel}')})</f:variable></f:then>
            <f:else><f:variable name="watchHint">{watchHint} ({f:translate(key: 'header.watch.watchersCount', extensionName: 'xima_typo3_content_planner', arguments: '{0: watch.count}')})</f:variable></f:else>
        </f:if>
    </f:if>
    <button
        type="button"
        class="btn btn-default content-planner-meta__btn content-planner-watch-toggle content-planner-watch-toggle--{watch.state}"
        data-content-planner-watch-container
        data-content-planner-watch-toggle
        data-table="{table}"
        data-uid="{uid}"
        aria-pressed="{f:if(condition: watch.watching, then: 'true', else: 'false')}"
        data-hint-title="{watchTitle}"
        data-hint-text="{watchHint}"
        aria-label="{watchTitle}. {watchHint}"
    >
        <core:icon identifier="{watch.icon}" size="small" alternativeMarkupIdentifier="inline"/>
        <f:if condition="{watch.count} > 0">
            <span class="content-planner-meta__count badge badge-secondary" aria-hidden="true">{watch.count}</span>
        </f:if>
    </button>
</f:if>
</html>
