<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:dashboard="http://typo3.org/ns/TYPO3/CMS/Dashboard/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="widget-content-title d-flex align-items-center">
    <core:icon identifier="{icon}" size="small"/>
    <span class="mx-3">
        <f:translate key="{configuration.title}" extensionName="XimaTypo3ContentPlanner"/>
    </span>
</div>
<div class="widget-content-main">
    <f:if condition="{records}">
        <f:then>
            <ul style="list-style:none;padding:0;margin:-20px;">
                <f:for each="{records}" as="record">
                    <f:if condition="{record.historyData} && {record.relatedRecord}">
                        <li style="border-bottom:1px solid #e0e0e0;{f:if(condition: record.assignedToCurrentUser, then: 'background-color:#FFF3E0;')}">
                            <div class="d-flex align-items-center">
                                <div class="icon-emphasized"
                                     style="background-color:#eee;padding: 20px;margin: 0 10px;z-index: 2;">
                                    <core:icon identifier="{record.changeTypeIcon}" size="small"/>
                                </div>
                                <div
                                    style="margin-left: -31px; padding: 20px; padding-left: 40px; height: 100%; display: block; border-left: 1px solid #ddd;">
                                    {record.historyData -> f:format.raw()}
                                    <f:if condition="{record.data.userid}">
                                        by
                                        <div style="display:inline-block;">
                                            <be:avatar backendUser="{record.data.userid}" size="10" showIcon="true"/>
                                        </div>
                                        <u>{record.user}</u>
                                    </f:if>
                                    <span class="text-muted small">{record.timeAgo}</span>
                                    <br/>
                                    <div class="mt-2 small">
                                        <f:if condition="{record.data.tablename} == 'pages'">
                                            <f:then>
                                                <f:be.link route="web_layout" parameters="{id: record.data.recuid}"
                                                           title="{record.data.title}">
                                                    <core:icon identifier="{record.recordIcon}" size="small"/>
                                                    <f:if condition="{record.status}">
                            <span title="{record.status}">
                                <core:icon identifier="{record.statusIcon}" size="small"/>
                            </span>
                                                    </f:if>
                                                    {f:if(condition: record.title, then: '{record.title ->
                                                    f:format.raw()}',
                                                    else: '[{f:translate(key:
                                                    \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.no_title\')}]')}
                                                </f:be.link>
                                            </f:then>
                                            <f:else>
                                                <be:link.editRecord uid="{record.data.recuid}" table="{record.data.tablename}"
                                                                    title="{record.data.title}">
                                                    <core:icon identifier="{record.recordIcon}" size="small"/>
                                                    <f:if condition="{record.status}">
                            <span title="{record.status}">
                                <core:icon identifier="{record.statusIcon}" size="small"/>
                            </span>
                                                    </f:if>
                                                    {f:if(condition: record.title, then: '{record.title ->
                                                    f:format.raw()}',
                                                    else: '[{f:translate(key:
                                                    \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.no_title\')}]')}
                                                </be:link.editRecord>
                                            </f:else>
                                        </f:if>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <div class="row widget-no-items-found">
                <f:render partial="Empty"/>
            </div>
        </f:else>
    </f:if>
</div>

</html>
