<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="widget-content-main content-planner-widget {f:if(condition: filter, then: 'content-planner-widget--has-filter')}">
    <input type="hidden" name="currentBackendUser" value="{currentBackendUser}"/>
    <input type="hidden" name="todo" value="{todo}"/>

    <f:if condition="{mode} == 'todo'">
        <div class="content-planner-widget__description">
            <f:format.raw><f:translate key="widgets.contentPlanner.status.todo" extensionName="XimaTypo3ContentPlanner" arguments="{0: todo}"/></f:format.raw>
        </div>
    </f:if>

    <f:if condition="{mode} == 'assignee'">
        <div class="content-planner-widget__description">
            <f:format.raw><f:translate key="widgets.contentPlanner.status.assignee" extensionName="XimaTypo3ContentPlanner"/></f:format.raw>
        </div>
    </f:if>

    <f:if condition="{filter}">
        <f:render partial="WidgetFilter" arguments="{_all}" />
    </f:if>
    <div class="content-planner-widget__table-wrapper">
        <table class="widget-table table">
            <thead class="content-planner-hide">
            <tr>
                <th>
                    <f:translate key="widgets.contentPlanner.header.title" extensionName="XimaTypo3ContentPlanner"/>
                </th>
                <th>
                    <f:translate key="widgets.contentPlanner.header.site" extensionName="XimaTypo3ContentPlanner"/>
                </th>
                <th>
                    <f:translate key="widgets.contentPlanner.header.tstamp" extensionName="XimaTypo3ContentPlanner"/>
                </th>
                <th>
                    <f:translate key="widgets.contentPlanner.header.assignee"
                                extensionName="XimaTypo3ContentPlanner"/>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="row content-planner-widget__empty">
        <f:render partial="Empty"/>
    </div>
    <div class="content-planner-widget__loading content-planner-hide">
        <core:icon identifier="spinner-circle" size="large"/>
    </div>
</div>
</html>
