<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="widget-content-title d-flex align-items-center">
    <core:icon identifier="{icon}" size="small"/>
    <span class="mx-3">
        <f:translate key="{configuration.title}" extensionName="XimaTypo3ContentPlanner"/>
    </span>
</div>
<div class="widget-content-main">
    <f:if condition="{records}">
        <f:then>
                    <f:for each="{records}" as="record">
                        <f:if condition="{record.relatedRecord}">
                            <div class="d-flex align-items-center widget-contentPlanner--comment">
                                <be:avatar backendUser="{record.data.author}" size="40"
                                           showIcon="true"/>
                                <div class="d-flex flex-column flex-grow-1">
                                    <div><strong>{record.authorName}</strong> <small>{record.data.tstamp -> f:format.date(format:'d.m.Y
                                        H:i')}</small></div>
                                    <div class="text">{record.data.content -> f:sanitize.html()}</div>
                                    <a href="{record.recordLink}">
                                        <small>
                                            <core:icon identifier="{record.statusIcon}" size="small" title="{record.status}"/>
                                            <core:icon identifier="{record.recordIcon}" size="small"/>
                                            {record.title}
                                        </small>
                                    </a>
                                </div>
                            </div>
                        </f:if>
                    </f:for>
        </f:then>
        <f:else>
            <div class="row widget-no-items-found">
                <f:render partial="Empty"/>
            </div>
        </f:else>
    </f:if>
</div>

</html>
