<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="widget-content-main content-planner-widget">
    <f:if condition="{records}">
        <f:then>
            <f:for each="{records}" as="record">
                <f:if condition="{record.relatedRecord}">
                    <div class="content-planner-comment">
                        <div class="content-planner-comment__header">
                            <span class="content-planner-comment__meta">
                                <be:avatar backendUser="{record.data.author}" size="16" showIcon="false"/>
                                <strong>{record.authorName}</strong>
                                <small title="{record.data.crdate -> f:format.date(format:'d.m.Y H:i')}">{record.timeAgo}</small>
                            </span>
                            <small class="content-planner-comment__record">
                                <core:icon identifier="{record.statusIcon}" size="small" title="{record.status}"/>
                                <a href="{record.shareUri}" title="{record.title}">
                                    {record.title}
                                </a>
                            </small>
                        </div>
                        <a href="{record.shareUri}"
                           class="content-planner-comment__text content-planner-comment__text--widget">{record.data.content -> f:format.crop(maxCharacters: 150, append: '…', respectHtml: true) -> f:format.raw()}</a>
                    </div>
                </f:if>
            </f:for>
        </f:then>
        <f:else>
            <div class="content-planner-widget__empty">
                <f:render partial="Empty"/>
            </div>
        </f:else>
    </f:if>
</div>

</html>
