<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:dashboard="http://typo3.org/ns/TYPO3/CMS/Dashboard/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="widget-content-title d-flex align-items-center">
    <core:icon identifier="{icon}" size="small"/>
    <span class="mx-3">
        <f:translate key="{configuration.title}" extensionName="XimaTypo3ContentPlanner"/>
    </span>
</div>
<div class="widget-content-main">
    <f:if condition="{records}">
        <f:then>
            <ul class="update-list">
                <f:for each="{records}" as="record">
                    <f:if condition="{record.historyData} && {record.relatedRecord}">
                        <li {f:if(condition: record.assignedToCurrentUser, then: 'class="current"')}>
                            <div class="d-flex align-items-center">
                                <div class="change-type-icon icon-emphasized">
                                    {record.changeTypeIcon -> f:format.raw()}
                                </div>
                                <div class="text">
                                    {record.historyData -> f:format.raw()}
                                    <f:if condition="{record.data.userid}">
                                        by
                                        <div style="display:inline-block;">
                                            <be:avatar backendUser="{record.data.userid}" size="10" showIcon="true"/>
                                        </div>
                                        <u>{record.user}</u>
                                    </f:if>
                                    <span class="text-muted small">{record.timeAgo}</span>
                                    <br/>
                                    <div class="mt-2 small">
                                        <a href="{record.recordLink}">
                                            {record.statusIcon -> f:format.raw()}
                                            {record.recordIcon -> f:format.raw()}
                                            {record.title}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <div class="row widget-no-items-found">
                <f:render partial="Empty"/>
            </div>
        </f:else>
    </f:if>
</div>

</html>
