<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{showTitle}">
    <div class="widget-content-title d-flex align-items-center">
        <core:icon identifier="{icon}" size="small"/>
        <span class="mx-3">
            <f:translate key="{configuration.title}" extensionName="XimaTypo3ContentPlanner"/>
        </span>
    </div>
</f:if>
<div class="widget-content-main widget-contentPlanner-status {f:if(condition: filter, then: 'widget-contentPlanner-status--filter')}">
    <input type="hidden" name="currentBackendUser" value="{currentBackendUser}"/>
    <input type="hidden" name="todo" value="{todo}"/>

    <f:if condition="{mode} == 'todo'">
        <div class="widget-contentPlanner-status--description">
            <f:format.raw><f:translate key="widgets.contentPlanner.status.todo" extensionName="XimaTypo3ContentPlanner" arguments="{0: todo}"/></f:format.raw>
        </div>
    </f:if>

    <f:if condition="{mode} == 'assignee'">
        <div class="widget-contentPlanner-status--description">
            <f:format.raw><f:translate key="widgets.contentPlanner.status.assignee" extensionName="XimaTypo3ContentPlanner"/></f:format.raw>
        </div>
    </f:if>

    <f:if condition="{filter}">
        <f:render partial="WidgetFilter" arguments="{_all}" />
    </f:if>
    <div class="widget-table-wrapper">
        <table class="widget-table table">
            <thead class="hide">
            <tr>
                <th>
                    <f:translate key="widgets.contentPlanner.header.title" extensionName="XimaTypo3ContentPlanner"/>
                </th>
                <th>
                    <f:translate key="widgets.contentPlanner.header.site" extensionName="XimaTypo3ContentPlanner"/>
                </th>
                <th>
                    <f:translate key="widgets.contentPlanner.header.tstamp" extensionName="XimaTypo3ContentPlanner"/>
                </th>
                <th>
                    <f:translate key="widgets.contentPlanner.header.assignee"
                                extensionName="XimaTypo3ContentPlanner"/>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="row widget-no-items-found">
        <f:render partial="Empty"/>
    </div>
    <div class="widget-loading hide">
        <core:icon identifier="spinner-circle" size="large"/>
    </div>
</div>
</html>
