<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:dashboard="http://typo3.org/ns/TYPO3/CMS/Dashboard/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="widget-content-main content-planner-widget"
    style="--mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 0) 100% 90% / 100% 100% repeat-x;-webkit-mask: var(--mask);mask: var(--mask);">
    <f:if condition="{records}">
        <f:then>

            <div class="widget-table-wrapper">
                <table class="widget-table table">
                    <f:for each="{records}" as="record">
                        <tr>
                            <td>
                                <strong>{record.title}</strong>
                                <small>{record.tstamp -> f:format.date(format:'d.m.Y')}</small>
                                <p>{record.content -> f:sanitize.html()}</p>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <f:render partial="Empty"/>
        </f:else>
    </f:if>
</div>

<div class="widget-content-footer d-flex">
    <f:if condition="{buttons}">
        <f:for each="{buttons}" as="button">
            <dashboard:widget.button button="{button}" class="widget-cta flex-grow-1">
            <span class="mx-2">
                <f:translate key="{button.title}" extensionName="XimaTypo3ContentPlanner"/></span>
            </dashboard:widget.button>
        </f:for>
    </f:if>
</div>

</html>
