<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{assignees -> f:count()}">
    <form>
        <div class="form-assignee">
            <div class="input-group">
                <span class="input-group-addon input-group-icon">
                    <f:if condition="{assignee.current}">
                        <f:then>
                            <be:avatar backendUser="{assignee.current}" size="16" showIcon="true"/>
                        </f:then>
                        <f:else>
                            <core:icon identifier="actions-user" size="small"/>
                        </f:else>
                    </f:if>
                </span>

                <select data-assignee-selection name="assignee"
                        class="form-select form-select-sm">
                    <f:for each="{assignees}" as="assigneeEntry">
                        <option value="{assigneeEntry.url}" {f:if(condition: assigneeEntry.isCurrent, then:
                        'selected')}>
                        {assigneeEntry.username}
                        </option>
                    </f:for>
                </select>

                <f:if condition="{assignee.assignToCurrentUser}">
                    <a
                        href="{assignee.assignToCurrentUser}"
                        class="btn btn-default"
                        data-action-assignee
                        title="{f:translate(key: 'header.assignToMe', extensionName: 'xima_typo3_content_planner')}"
                    >
                        <core:icon identifier="actions-assign-to-me"
                                   alternativeMarkupIdentifier="inline"
                                   size="small"/>
                    </a>
                </f:if>
                <f:if condition="{assignee.unassign}">
                    <a
                        href="{assignee.unassign}"
                        class="btn btn-default"
                        data-action-assignee
                        title="{f:translate(key: 'header.unassign', extensionName: 'xima_typo3_content_planner')}"
                    >
                        <core:icon identifier="actions-unassign"
                                   alternativeMarkupIdentifier="inline"
                                   size="small"/>
                    </a>
                </f:if>
            </div>
        </div>
    </form>
</f:if>
