<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{comments -> f:count()}">
    <f:then>
        <f:for each="{comments}" as="record">
            <div class="d-flex align-items-center widget-contentPlanner--comment">
                <be:avatar backendUser="{record.data.author}" size="40"
                        showIcon="true"/>
                <div class="d-flex flex-column flex-grow-1">
                    <div class="d-flex flex-row justify-content-between">
                        <div>
                            <strong>{record.authorName}</strong>
                            <small>{record.data.crdate -> f:format.date(format:'d.m.Y  H:i')}</small>
                        </div>
                        <small>
                            <core:icon identifier="{record.statusIcon}" size="small" title="{record.status}"/>
                            <a href="{record.recordLink}">
                                {record.title}
                            </a>
                        </small>
                    </div>
                    <div class="text">{record.data.content -> f:format.raw()}</div>
                </div>
            </div>
        </f:for>
    </f:then>
    <f:else>
        <div class="row widget-no-items-found">
            <f:render partial="Empty"/>
        </div>
    </f:else>
</f:if>
