:root {
    --content-planner--color-red: rgb(250,136,147);
    --content-planner--color-yellow: rgb(255,205,117);
    --content-planner--color-green: rgb(106,158,113);
    --content-planner--color-blue: rgb(100,187,200);
    --content-planner--color-purple: rgb(92,107,192);
    --content-planner--color-orange: rgb(255,112,67);

    --content-planner--color-red-light: rgb(250,136,147, 0.2);
    --content-planner--color-yellow-light: rgb(255,205,117, 0.2);
    --content-planner--color-green-light: rgb(106,158,113, 0.2);
    --content-planner--color-blue-light: rgb(100,187,200, 0.2);
    --content-planner--color-purple-light: rgb(92,107,192, 0.2);
    --content-planner--color-orange-light: rgb(255,112,67, 0.2);
}

.xima-typo3-content-planner--header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    border-top: 12px solid;
}

.xima-typo3-content-planner--header-info .left {
    margin: 0 12px;
}

.xima-typo3-content-planner--header-info .body {
    flex-grow: 1;
}

.xima-typo3-content-planner--header-info[data-color="red"] {
    background-color: var(--content-planner--color-red-light);
    border-color: var(--content-planner--color-red);
}

.xima-typo3-content-planner--header-info[data-color="yellow"] {
    background-color: var(--content-planner--color-yellow-light);
    border-color: var(--content-planner--color-yellow);
}

.xima-typo3-content-planner--header-info[data-color="green"] {
    background-color: var(--content-planner--color-green-light);
    border-color: var(--content-planner--color-green);
}

.xima-typo3-content-planner--header-info[data-color="blue"] {
    background-color: var(--content-planner--color-blue-light);
    border-color: var(--content-planner--color-blue);
}

.xima-typo3-content-planner--header-info[data-color="purple"] {
    background-color: var(--content-planner--color-purple-light);
    border-color: var(--content-planner--color-purple);
}

.xima-typo3-content-planner--header-info[data-color="orange"] {
    background-color: var(--content-planner--color-orange-light);
    border-color: var(--content-planner--color-orange);
}

.xima-typo3-content-planner--header--ce-hint {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.xima-typo3-content-planner--header--ce-hint a {
    padding: 0 0.5em;
}

.xima-typo3-content-planner--header--ce-hint a:hover {
    text-decoration: none;
    transform: scale(1.4);
}

.xima-typo3-content-planner--header--ce-hint a[data-color="red"] {
    color: var(--content-planner--color-red);
}

.xima-typo3-content-planner--header--ce-hint a[data-color="yellow"] {
    color: var(--content-planner--color-yellow);
}

.xima-typo3-content-planner--header--ce-hint a[data-color="green"] {
    color: var(--content-planner--color-green);
}

.xima-typo3-content-planner--header--ce-hint a[data-color="blue"] {
    color: var(--content-planner--color-blue);
}

.current {
    background-color: rgba(253, 212, 150, 0.2);
}
