.widget-content-main .hide {
    display: none;
}

.widget-content-main .widget-loading {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.widget-content-main .widget-no-items-found {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.widget-content-main .widget-no-items-found .xima-typo3-content-planner__empty {
    background-repeat: no-repeat;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.125;
    background-position: 50% 55%;
    background-size: 25%;"
}

.widget-content-main table tr.current {
    background-color: #FFF3E0;
}

.widget-content-main .avatar {
    display: inline-block;
    margin-right: .25rem;
}

.widget-content-main .widget-filter + .widget-table-wrapper {
    padding-top: 4rem;
    height: 100%;
}
.widget-content-main {
    /*--mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 0) 100% 90% / 100% 100% repeat-x;-webkit-mask: var(--mask);mask: var(--mask);*/
}

.widget-content-main .widget-filter {
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin-top: -20px;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 5px;
    background: #fff;
}

.widget-content-main .widget-filter .form-check input[type="radio"] {
    display: none;
}

.widget-content-main .widget-filter .form-check input[type="radio"]:checked+label{
    font-weight: bold;
}

.widget-content-main .widget-filter .form-check label {
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    margin-top: -10px;
}

.widget-content-main .widget-filter .form-check label:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.widget-contentPlanner-status--assigned table tr > th:nth-child(2), .widget-contentPlanner-status--assigned table tr > td:nth-child(2),
.widget-contentPlanner-status--assigned table tr > th:nth-child(4), .widget-contentPlanner-status--assigned table tr > td:nth-child(4){
    display: none;
}

.widget-contentPlanner--comment {
    border-bottom: 1px solid #f9f9f9;
    padding-bottom: 1rem;
    gap:1rem;
    margin-bottom:2rem;
}
.widget-contentPlanner--comment .text {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: #f9f9f9;
    margin: 1rem 0;
}
.widget-contentPlanner--comment .text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -.75rem;
    border-width: .75rem;
    border-style: solid;
    border-color: transparent #f9f9f9 transparent transparent;
}
