<html xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="accordion">
    <div class="callout callout-{type}">
        <div class="media">
            <div class="media-left">
                <span class="icon-emphasized">
                <core:icon identifier="{icon}" size="small"/>
                </span>
            </div>
            <div class="media-body">
                <div class="callout-body d-flex align-items-center">
                    <be:link.editRecord uid="{data.uid}" table="pages"
                                        fields="tx_ximatypo3contentplanner_status,tx_ximatypo3contentplanner_assignee,tx_ximatypo3contentplanner_comments"
                                        returnUrl="{f:be.uri(route: 'web_layout', parameters: '{\'id\': data.uid}')}"
                                        title="Edit page properties" class="d-flex align-items-center  flex-grow-1">
                        Content Planner Status: <strong>
                        {status.title}
                    </strong>
                    </be:link.editRecord>
                    <div class="btn-group">
                        <f:if condition="{data.tx_ximatypo3contentplanner_assignee}">
                            <div class="ml-auto d-flex align-items-center btn btn-default btn-sm"
                                style="background-color: transparent">
                                <be:avatar backendUser="{data.tx_ximatypo3contentplanner_assignee}" size="16"
                                        showIcon="true"/>
                                <span class="mx-2">{assignee}</span>
                            </div>
                        </f:if>
                        <f:if condition="{comments}">
                            <button class="btn btn-default btn-sm contentPlanner--comments" type="button"
                                    data-table="pages"
                                    data-id="{data.uid}"
                                    style="background-color: transparent">
                                <core:icon identifier="content-message" size="small"/>
                                {comments -> f:count()}
                            </button>
                        </f:if>
                        <a href="{be:uri.newRecord(table:'tx_ximatypo3contentplanner_comment', pid: data.uid, returnUrl: 'foo/bar', defaultValues: '{tx_ximatypo3contentplanner_comment: {foreign_table: \'pages\', foreign_uid: data.uid}}')}"
                        id="new-comment-modal" class="btn btn-default btn-sm" style="background-color: transparent"
                        data-pid="{pid}" data-userid="{userid}">
                            <core:icon identifier="content-message-dots" size="small"/>
                            New
                        </a>
                        <be:link.editRecord uid="{data.uid}" table="pages"
                                            fields="tx_ximatypo3contentplanner_status,tx_ximatypo3contentplanner_assignee,tx_ximatypo3contentplanner_comments"
                                            returnUrl="{f:be.uri(route: 'web_layout', parameters: '{\'id\': data.uid}')}"
                                            title="Edit page properties" class="btn btn-default btn-sm"
                                            style="background-color: transparent">
                            <core:icon identifier="actions-document-edit" size="small"/>
                            Edit
                        </be:link.editRecord>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
