<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:dashboard="http://typo3.org/ns/TYPO3/CMS/Dashboard/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="widget-content-title d-flex align-items-center">
    <core:icon identifier="{icon}" size="small"/>
    <span class="mx-3">
        <f:translate key="{configuration.title}" extensionName="XimaTypo3ContentPlanner"/>
    </span>
</div>
<div class="widget-content-main"
     style="--mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 0) 100% 90% / 100% 100% repeat-x;-webkit-mask: var(--mask);mask: var(--mask);">
    <f:if condition="{records}">
        <f:then>
            <ul style="list-style:none;padding:0;margin:-20px;">
                <f:for each="{records}" as="record">
                    <f:if condition="{record.historyData}">
                        <li style="padding:20px;border-bottom:1px solid #e0e0e0;{f:if(condition: record.assignedToCurrentUser, then: 'background-color:#FFF3E0;')}">
                            {record.historyData -> f:format.raw()}
                            <f:if condition="{record.data.userid}">
                                by
                                <div style="display:inline-block;">
                                    <be:avatar backendUser="{record.data.userid}" size="10" showIcon="true"/>
                                </div>
                                <u>{record.data.username}</u>
                            </f:if>
                            <span class="text-muted small">{record.timeAgo}</span>
                            <br/>
                            <div class="mt-2 small">
                                <f:be.link route="web_layout" parameters="{id: record.data.recuid}"
                                           title="{record.data.title}">
                                    <core:iconForRecord table="pages" row="{record.data}"/>
                                    <f:if condition="{record.pageStatus}">
                            <span title="{record.pageStatus}">
                                <core:icon identifier="{record.pageStatusIcon}" size="small"/>
                            </span>
                                    </f:if>
                                    {f:if(condition: record.pageTitle, then: '{record.pageTitle -> f:format.raw()}',
                                    else: '[{f:translate(key:
                                    \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.no_title\')}]')}
                                </f:be.link>
                            </div>
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <div class="row widget-no-items-found">
                <f:render partial="Empty"/>
            </div>
        </f:else>
    </f:if>
</div>

</html>
