services:
    web:
        environment:
            - EXTENSION_KEY=xima_typo3_content_planner
            - EXTENSION_NAME=xima-typo3-content-planner
            - PACKAGE_NAME=xima/xima-typo3-content-planner
            - TYPO3_VERSIONS=13 14

            # TYPO3 v13 config
            - TYPO3_DB_DRIVER=mysqli
            - TYPO3_DB_USERNAME=root
            - TYPO3_DB_PASSWORD=root
            - TYPO3_DB_HOST=db
            - TYPO3_SETUP_ADMIN_EMAIL=admin@example.com
            - TYPO3_SETUP_ADMIN_USERNAME=admin
            - TYPO3_SETUP_ADMIN_PASSWORD=Password1!
            - TYPO3_PROJECT_NAME=EXT:xima-typo3-content-planner Dev Environment
            - TYPO3_SERVER_TYPE=apache

            # tailor
            - TYPO3_EXCLUDE_FROM_PACKAGING=packaging_exclude.php
