name: Tests
on:
  push:
    branches:
      - '**'

jobs:
  tests:
    uses: jackd248/reusable-github-actions/.github/workflows/tests.yml@main
    with:
      php-versions: '["8.2", "8.3", "8.4", "8.5"]'
      typo3-versions: '["13.4"]'
      dependencies: '["highest", "lowest"]'
